<nav class="container-fluid bg-white py-2 shadow-sm">
    <div class="row">

            <div class="col-lg-4 col-12">
                <a class="brand" routerLink="/">cartshop.io</a>
            </div>

            <div class="col-lg-4 col-12 offset-lg-4 mt-3">
                <a routerLink="/" class="link"><i class="bi bi-house"></i> Home</a>
                <a routerLink="/cart" class="link"><i class="bi bi-cart3"></i> Cart <span class="cartCount">{{cartCount}}</span></a>
            </div>


    </div>
</nav>