.productBox
{
    background-color: hsl(0, 0%, 100%);
    padding: 50px 50px;
}

.productBox img 
{
    width: 50%;
}

@media screen and (max-width:900px) {
    .productBox img 
    {
        width: 100%;
    }
}